
.backgroundabout{
    background-image: url(../img/job1.jpeg);
    width: 100%;
    height: 300px;
    background-size: 150%;
    position: relative;
    animation: imgfirst 25s infinite alternate ease-in-out;
}
.cta1{
    background-color: gold;
    border-radius: 12px;
    border:2px groove black;
    padding: 5px;
    position: absolute;
    top: 250px;
    color:  black;
    font-weight: 900;
    left: 10px;
    text-shadow: black 1px 1px 5px;
    box-shadow: black 3px 2px 7px ;
}
@keyframes imgfirst {
    0%{
        background-position: left;
        
    }
    10%{
        background-image: url(../img/job2.jpeg);
    }
    20%{
        background-image: url(../img/job3.jpeg);
    }
    30%{
        
        background-image: url(../img/job4.jpeg);
    }
    40%{
        background-image: url(../img/job5.jpg);
    }
    50%{
        background-image: url(../img/job6.jpeg);
    }
    60%{
        background-image: url(../img/job7.jpeg);
    }
    70%{
        background-image: url(../img/job8.jpeg);
    }
    80%{
        background-image: url(../img/job9.jpeg);
    }
    90%{
        background-image: url(../img/job10.jpeg);
    }
    100%{
        background-position: right;
        background-image: url(../img/job11.jpeg);
    }
}
header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: black;
    padding-top: 45px;
}
.backgroundfirst{
    width: 90%;
    height: 200px;
    padding-top: 30px;
    /* background-color:black; */
    background-image: url(../img/job5.jpg);
    background-position: center;
    background-size: 120%;
    background-repeat: repeat-x;
    animation: deslizar 5s infinite linear alternate;
    border-radius: 20px;
}
@keyframes deslizar {
    from{
        background-position: top left;
    }
    to{
        background-position: bottom right;
    }
    
}
.backgroundfirst .header--introduce{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    height: auto;
    padding: 0px 10px 0px 10px;
}
.backgroundfirst .header--introduce .title, .backgroundfirst .header--introduce .content{
    color:  white;
    text-shadow: black 2px 2px 2px , black -2px -2px 2px;
    text-align: left;
    padding-bottom: 20px;
}
.backgroundfirst .header--introduce .content{
    font-size: 1.2rem;
}
.backgroundfirst .header--introduce form{
    width: 100%;
    display: flex;
    flex-wrap:wrap ;
    justify-content: right;
    gap: 5px;
}
.backgroundfirst .header--introduce form input{
    font-size: 1rem;
    padding: 3px;
    border: none ;
    border-style: hidden;
    border-radius: 5px;
}
.backgroundfirst .header--introduce form input[type="email"]{
    font-size: .8rem;
    width: 200px;
}
.backgroundfirst .header--introduce form input[type="email"]::placeholder{
    color: black ;
}
.main--posts-container{
    width: 100%;
    height: auto;
    padding: 0px 0px 10px 0px;
}
.main--posts-container .posts--content-container{
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 3px;
    overflow-x: scroll;
    position: relative;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.main--posts-container .posts--content-container::-webkit-scrollbar{
    -webkit-appearance: none;
    position: relative;
   }
   .main--posts-container .posts--content-container::-webkit-scrollbar-thumb{
       background-color: gray;
       border-radius: 20px;
   }
   .main--posts-container .posts--content-container::horizontal{
    height: 10px;
}
.main--posts-container .posts--content-container .posts{
   width: auto;
   height: auto;
   scroll-snap-align: center;
}
.main--posts-container .posts--content-container .posts .box-post{
    width: 200px;
    height: 150px;
    border:rgba(5, 119, 176, 0.781) 2px ridge;
    border-radius: 10px;
    background-color: #fcfeffb4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 5px;
    position: relative;
}
.posts .postuser{
    width: 40px;
    height: 40px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo5_4sR4FlfDF1OcqE_QpgeUt3OzbtOFVCYw&usqp=CAU);
    border-radius: 50%;
    display: block;
}
.posts .more{
    width: 20px;
    height: 20px;
    background-image: url(../img/iconos/more.png);
    display: block;
    position: absolute;
    right: 10px;
}
.star-container{
    width: 50px;
    bottom: -2px;
    margin: 0px 3px;
    position: absolute;
}
.checked{
    color: gold;
    text-shadow: black 2px 0px 1px;
}
.star{
    display: inline;
    font-size: .7rem;
}
.star:hover{
 color: black;
}
@media (min-width:700px) {
    .backgroundfirst{
        height: 300px;
        padding-top: 90px;
        background-size: cover;
    }
    .header--introduce .title{
        font-size: 2rem;
    }
    .header--introduce .content{
        font-size: 1.7rem;
    }
    .main--posts-container .posts--content-container .posts .box-post{
        width: 400px;
    }
}